.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

.Header {
  background-color: #333;
  color: white;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.Menu li {
  margin-right: 20px;
}

.Menu a {
  text-decoration: none;
  color: white;
}

.Content {
  height: 100vh;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
}

.Content.long {
  min-height: 3000px;
}

.Footer {
  text-align: center;
  padding: 10px 0;
  background-color: #333;
  color: white;
}

.header-ad {
  width: 50%; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
  background-color: #f0f0f0; /* Placeholder background color */
  border: 1px solid #ccc; /* Placeholder border */
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #777;
}

.ad-placeholder {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: #777;
}

.side-ad {
  width: 300px; /* Adjust the width as needed */
  height: 250px; /* Adjust the height as needed */
  background-color: #f0f0f0; /* Placeholder background color */
  border: 1px solid #ccc; /* Placeholder border */
  position: fixed; /* Fixed position */
  top: 50%; /* Vertical centering */
  right: 20px; /* Distance from the right side of the viewport */
  transform: translateY(-50%); /* Center vertically */
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #777;
  z-index: 1000; /* Ensure it's above other content */
}
